.headerDesktop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem 1rem;
    height: 10%;
    background-color: var(--transparent-bg);
    backdrop-filter: var(--filter);
    position: sticky;
    top: 0;
    z-index: 50;
}

.headerDesktopGreet {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.headerDesktopGreetTitle {
    font-size: 1.3rem;
}

.headerDesktopGreetText {
    font-size: 1.3rem;
    color: var(--orange-color);
}

.headerDesktopDetails {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerDesktopDetailsIcon {
    cursor: pointer;
    font-size: 1.3rem;
}

.headerDesktopDetailsIconPlay {
    cursor: pointer;
    font-size: 1.3rem;
    color: var(--orange-color)
}

.headerDesktopDetailsText {
    font-size: .9rem;
    cursor: pointer;
    color: var(--red-color);
    font-weight: 700;
}

.headerDesktopDetailsUser {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: var(--grey-color);
}