@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@400;600;700;900&display=swap');

:root {
    --bg-color: #fdfdfd;
    --light-bg-color: #ebebeb;
    --text-color: #000000;
    --primary-color: #0085D1;
    --lignt-primary-color: #30b0fa;
    --grey-color: #898989;
    --red-color: rgb(216, 0, 0);
    --orange-color: rgb(217, 141, 0);
    --border-radius: 10px;
    --grey-bg: rgb(214, 214, 214);
    --linear: linear-gradient(270deg, rgba(217, 141, 0, 0.35) 40.1%, rgba(255, 255, 255, 0) 71.35%);
    --transparent-bg: rgba(255, 255, 255, 0.65);
    --filter: blur(50px);
    --gradient-bg: linear-gradient(180deg, #EBEBEB 0%, rgba(255, 255, 255, 0.05) 100%);

    --main-font: 'Inter', sans-serif;
    --secondary-font: 'Anton', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000000;
        --light-bg-color: #0f0f0f;
        --text-color: #ffffff;
        --grey-color: rgb(103, 103, 103);
        --grey-bg: rgb(29, 29, 29);
        --orange-color: rgb(232, 151, 0);
        --linear: linear-gradient(270deg, rgba(217, 141, 0, 0.35) 40.1%, rgba(0, 0, 0, 0) 71.35%);
        --transparent-bg: rgba(0, 0, 0, 0.65);
        --gradient-bg: linear-gradient(180deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0.05) 100%);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

body::-webkit-scrollbar {
    width: .8rem;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 5px;
}

body::-webkit-scrollbar{
    display: none;
}