.main {
    width: 100vw;
    height: 100vh;
}

.mainHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem;
    background-color: var(--light-bg-color);
    display: none;
}

.mainHeaderTitle {
    font-size: 1.5rem;
    font-weight: 900;
}

.mainHeaderBusiness {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    padding: .5rem;
    background-color: var(--primary-color);
    border-radius: calc(var(--border-radius) - 5px);
}

.mainHeaderBusinessText {
    font-size: .7rem;
    color: white;
}

.mainHeaderBusinessIcon {
    font-size: .9rem;
    color: white;
}

.mainContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100%;
}

.mainContainerIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mainContainerIntroBounce {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainContainerIntroBounceContainer {
    height: 90%;
    width: 90%;
}

.mainContainerIntroContent {
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.mainContainerIntroContentWords {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mainContainerIntroContentWordsTitle {
    font-size: 3.5rem;
}

.mainContainerIntroContentText {
    font-size: 1rem;
}

.mainContainerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** ------------- Form Area --------------- */

.mainContainerFormArea {
    width: 60%;
    height: 85%;
    border-radius: var(--border-radius);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1.2rem;
    background-color: var(--light-bg-color);
}

.mainContainerFormAreaHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
}

.mainContainerFormAreaHeaderText {
    font-size: 2rem;
}

.mainContainerFormAreaAuto {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-bottom: 1rem;
}

.mainContainerFormAreaAutoContainer {
    background-color: var(--grey-bg);
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .7rem;
    border-radius: calc(var(--border-radius) - 5px);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.mainContainerFormAreaAutoContainer:hover {
    background-color: var(--orange-color);
}

.mainContainerFormAreaAutoContainerGoogle {
    font-size: 1.2rem;
    color: var(--red-color);
}

.mainContainerFormAreaAutoContainerFacebook {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.mainContainerFormAreaAutoContainerText {
    font-size: .8rem;
}

.mainContainerFormAreaInputs {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.mainContainerFormAreaInputsContent {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-bottom: .7rem;
}

.mainContainerFormAreaInputsContentText {
    font-size: .7rem;
    color: var(--grey-color);
    font-weight: 700;
}

.mainContainerFormAreaInputsContentError {
    font-size: .7rem;
    color: var(--red-color);
    font-weight: 700;
}

.mainContainerFormAreaInputsContentValue {
    padding: .4rem 0;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--grey-color);
    color: var(--text-color);
    font-size: .8rem;
}

.mainContainerFormAreaInputsButton {
    padding: .7rem;
    outline: none;
    border: none;
    border-radius: calc(var(--border-radius) - 5px);
    background-color: var(--primary-color);
    transition: .2s all ease-in-out;
    color: white;
    font-size: .9rem;
    font-weight: 700;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.mainContainerFormAreaInputsButton:hover {
    background-color: var(--lignt-primary-color);
}

.mainContainerFormAreaInputsLogin {
    width: 100%;
    display: flex;
    align-items: center;
    gap: .3rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.mainContainerFormAreaInputsLoginText {
    font-size: .8rem;
}

.mainContainerFormAreaInputsLoginLink {
    font-size: .8rem;
    font-weight: 700;
    color: var(--orange-color);
    cursor: pointer;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .mainContainerIntro {
        display: none;
    }
    .mainContainerFormArea {
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--bg-color);
    }
    .mainContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .mainContainerFormAreaAutoContainer {
        padding: 1rem .7rem;
    }
    .mainContainerFormAreaAutoContainerGoogle,
    .mainContainerFormAreaAutoContainerFacebook {
        font-size: 1.5rem;
    }
    .mainContainerFormAreaInputsButton {
        padding: 1.1rem .7rem;
        margin-top: 4rem;
    }
    .mainContainerFormAreaAutoContainerText {
        font-size: 1rem;
    }
    .mainHeader {
        padding-top: 1.5rem;
    }
    .mainContainerFormAreaInputsContentValue {
        font-size: 1rem;
        padding: .8rem .4rem;
    }
    .mainContainerFormAreaHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    .mainContainerFormAreaHeaderText {
        font-size: 2.5rem;
    }
}