.mobile {
    display: none;
}

@media screen {
    .mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: var(--transparent-bg);
        backdrop-filter: var(--filter);
        height: 12%;
        z-index: 600;
    }
    .mobileContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .35rem;
    }
    .mobileContentIcon {
        font-size: 1.5rem;
    }
    .mobileContentIconActive {
        font-size: 1.5rem;
        color: var(--primary-color);
    }
    .mobileContentText {
        font-size: .4rem;
        color: var(--grey-color);
    }
}
