.events {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.eventsMain {
    width: 100%;
}

.eventsMainContent {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 1rem;
}