.genre {
    width: 100%;
    height: 100%;
}

.genreHeader {
    width: 100%;
    padding: 1rem;
    height: 8%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.genreHeaderText {
    color: var(--grey-color);
    font-size: .9rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.genreMain {
    height: 92%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genreMainTitle {
    font-size: 2.8rem;
}

.genreMainContent {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: center;
    margin: 2rem 0;
}

.genreMainContentItem {
    background-color: var(--grey-bg);
    padding: .4rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--border-radius) - 5px);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.genreMainContentItemText {
    font-size: 1rem;
}

.genreMainContentItemSelected {
    background-color: var(--red-color);
    padding: .4rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--border-radius) - 5px);
    cursor: pointer;
    gap: .4rem;
    transition: .3s all ease-in-out;
}

.genreMainContentItemSelectedIcon {
    font-size: 1.1rem;
    color: white;
}

.genreMainContentItemSelectedText {
    font-size: 1rem;
    color: white;
}

.genreMainContainer {
    margin-top: 1.5rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.genreMainContainerButton {
    width: 100%;
    padding: .9rem .4rem;
    background-color: var(--primary-color);
    outline: none;
    border: none;
    border-radius: calc(var(--border-radius) - 5px);
    color: white;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: .8rem;
    cursor: pointer;
}

.genreMainContainerButton:hover {
    background-color: var(--lignt-primary-color);
}

.genreMainContainerText {
    font-size: .7rem;
    color: var(--red-color);
}

@media screen and (max-width: 480px) {
    .genreMainTitle {
        font-size: 2rem;
    }
    .genreMainContent {
        width: 90%;
    }
    .genreMainText {
        margin-top: 4rem;
    }
    .genreMainContainer {
        width: 85%;
    }
}